@inject ServerConfig config
@model CraftItemsPrice

@{
    ViewData["Title"] = "Request " + Model.Item.Name;
}

<div class="row bg-tertiary">
    @if (Model.Item.Asset != null) {
        <div class="col-2">
            <image class="w-75 rounded" src="@config.AssetsUrl/@Model.Item.Asset.Endpoint" />
        </div> 
    } 
    <div class="col-6">
        <h2>@Model.Item.Name</h2>
        <div class="row">
            <div class="col-8">
                <div>
                    @foreach (var itemAttribute in Model.Item.Attributes)
                    {
                        <span class="badge bg-warning">
                            @itemAttribute.Attribute.Name - @itemAttribute.Value
                        </span>
                    }
                </div>
                @Model.Manufacturer.Server.Name
                <div>
                    @foreach (var accounts in Model.Manufacturer.Server.GameAccounts)
                    {
                        <a
                            class="btn px-0 py-0"
                            asp-controller="Manufacturer"
                            asp-action="Show" 
                            asp-route-id="@Model.Manufacturer.Id"
                        >
                            <span class="badge bg-info">
                                @accounts.Name
                            </span>
                        </a>
                    }
                </div>
            </div>
            <div class="col-4">
                <div>
                    Craft price: @Model.Price
                </div>
                <div>
                    Total price: <b>@Model.TotalPrice</b>
                </div>
            </div>
        </div>
    </div>
<div/>
<form asp-action="New" method="post" class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="6" class="text-center">Craft Resources</th>
                </tr>
                <tr>
                    <th>Icon</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>You will provide this items?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var craftResource in Model.Item.Resources)
                {
                    <tr>
                        <td>
                            @if (@craftResource.Resource.Asset != null) {
                                <image 
                                    class="w-100 rounded" 
                                    src="@config.AssetsUrl/@craftResource.Resource.Asset.Endpoint" 
                                />
                            }
                        </td>
                        <td>@craftResource.Resource.Name</td>
                        <td>@craftResource.Resource.Level</td>
                        <td>
                            @if (craftResource.Resource.Prices.Count > 0) {
                                <b>
                                    @craftResource.Resource.Prices.ElementAt(0).TotalPrice
                                </b>
                            }
                        </td>
                        <td>@craftResource.Amount</td>
                        <td>
                            <input type="checkbox" value="@craftResource.Id" name="ProvidedResources" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="w-100">
    </div>
    <div class="col-8">
    </div>
    <div class="col-4">
        @if (User.Identity is not null && User.Identity.IsAuthenticated) {
            <input type="hidden" name="PriceId" value="@Model.Id" />
            <input type="submit" class="btn btn-success" value="Request" />
        } else {
            <input type="submit" class="btn btn-success" value="Create an account to request a craft" disabled="true" />
        }
    </div>
</form>
