@model User

@{
    ViewData["Title"] = "Profile - " + 
        (string.IsNullOrEmpty(Model.Name) ? Model.Email : Model.Name);
}

<section class="container">
    <div class="row">
        <div class="col">
            <b>@Model.Id</b>
        </div>
        <div class="col">
            <p>@Model.Email</p>
        </div>
        <div class="col">
            <p>@Model.Name</p>
        </div>
        <div class="col">
            <a class="btn btn-secondary" asp-action="EditProfile">Edit</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="w-100 mb-1">
            Game Accounts: 
                @foreach (var account in Model.GameAccounts)
                {
                    @if (account is not null) {
                        <span class="badge bg-info">@account.Name - @account.Server.Name</span>
                    }
                }
        </div>
        <div>
            <a class="btn btn-success" asp-controller="GameAccount" asp-action="New">
                Add Game Account
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <a asp-controller="Manufacturer" asp-action="" class="btn btn-primary">Manufacturer Dashboard</a>
            <a 
                asp-controller="Request"
                asp-action="List"
                class="btn btn-primary"
            >
                Requests
            </a>
            @if ((bool)ViewData["AdminAccess"]) {
                <a class="btn btn-primary" asp-area="admin" asp-controller="Home" asp-action="">Go to admin page</a>
            }
        </div>
    </div>
</section>