@inject IViewLocalizer text
@model CategorySelectionData

<label for="selectCategory" class="form-label">@text["ChooseCategoryLabel"]</label>
<select id="selectCategory" name="@Model.Name" class="form-select">
    @{
        if (Model.HasOptionAny) {
            <option value="-1" selected=@(Model.CategorySelected == -1)>@text["AnyOptionText"]</option>
        }
    }

    @foreach (var category in Model.Categories)
    {
        if (Model.CategorySelected == category.Id) {
            <option value="@category.Id"  selected>@category.Name</option>
        } else {
            <option value="@category.Id" >@category.Name</option>
        }
    }
</select>