@inject IConfiguration config
@inject IViewLocalizer text
@using AlternativeMkt.Db
@using AlternativeMkt.Api.Models

@model StandardList<CraftItem>

@{
    ListItemsParams? query = (ListItemsParams?)ViewData["CraftItemQuery"];
    if (query is null)
        query = new ListItemsParams();
    ViewData["Title"] = "Search " + query.name;
    double currentPage = (query.start + 1) / query.count + 1;
    int next =  query.start + query.count;
    int previous =  query.start - query.count;
}

<section class="container">
    <form class="row mb-3">
        <div class="col-auto">
            <label for="name" class="form-label">@text["ItemNameLabel"]</label>
            <input class="form-control" name="name" type="text" value="@query.name" />
        </div>
        <div class="col-auto">
            @{
                if (query.categoryId == null) {
                    <vc:category-selection name="categoryId" hasoptionany="y" />
                } else {
                    <vc:category-selection name="categoryId" hasoptionany="y" selected="@query.categoryId.Value" />
                }
            }
        </div>
        <div class="col-auto">
            <label for="minLevel" class="form-label">@text["MinLevelLabel"]</label>
            <input class="form-control" name="minLevel" type="numeric" value="@query.minLevel" />
        </div>
        <div class="col-auto">
            <label for="maxLevel" class="form-label">@text["MaxLevelLabel"]</label>
            <input class="form-control" name="maxLevel" type="numeric" value="@query.maxLevel" />
        </div>
        <div class="col-auto pt-4">
            <input class="btn btn-success" type="submit" value=@text["btnSearch"] />
        </div>
    </form>
    <!---
    <div class="row mb-2">
        <vc:search-bar value=@query.name />
    </div>
    -->
    <div class="row">
        @foreach (CraftItem item in Model.Data)
        {
            <div class="col mb-1">
                <div class="card" style="width: 12rem;">
                    @if (@item.Asset is not null) {
                        <img src=@config["AssetsUrl"]/@item.Asset.Endpoint class="card-img-top"/>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">Level: @item.Level</p>
                        <a 
                            class="btn btn-primary" 
                            asp-controller="Search" 
                            asp-action="Manufacturers" 
                            asp-route-itemId=@item.Id 
                        >
                                Check Crafts
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav class="row justify-content-center">
        <div class="col-4"> 
            <ul class="pagination">
                @if (previous < 0) {
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                } else {
                    <li class="page-item">
                        <a 
                            class="page-link" 
                            asp-route-name=@query.name 
                            asp-route-start=@previous
                        >
                            Previous
                        </a>
                    </li>
                }
                
                <li class="page-item">
                    <a 
                        class="page-link" 
                        asp-route-name=@query.name 
                        asp-route-start=@query.start 
                    >
                        @currentPage
                    </a>
                </li>
                
                @if (next >= Model.Total) {
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                } else {
                    <li class="page-item">
                        <a 
                            class="page-link" 
                            asp-route-name=@query.name 
                            asp-route-start=@next
                        >
                            Next
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="w-100"></div>
        <div class="col-4">
            @Model.Total @text["XItemsFoundForItemName"] "@query.name".
        </div>
    </nav>
</section>